{% extends 'base.html' %}

{% block context%}


          <div class="col-12 col-lg-7 mx-auto my-5  rounded shadow-lg">

            <div class="card  w-100">
                <img class="card-img" style="width: 100%;height: 10vw; object-fit: cover;" src="{{cafe.img_url}}" alt="restaurant_photo">
              <div class="card-body">
                <h2 class="card-title ">{{cafe.name}}</h2>
                  <p class="text-danger">Location: {{cafe.location}}</p>
                <a class="text-decoration-none " target="_blank" href="{{cafe.map_url}}">Show on google maps</a>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item text-bg-success">Price: {% if cafe.coffee_price %} {{cafe.coffee_price}} {% else %} No information {% endif %}</li>
                  <li class="list-group-item ">Seats: {{cafe.seats}}</li>
                  <li class="list-group-item">Has sockets: {% if cafe.has_sockets %} ✅ {% else %} ⛔️ {% endif %}</li>
                  <li class="list-group-item">Has toilet: {% if cafe.has_toilet %} ✅ {% else %} ⛔️ {% endif %}</li>
                  <li class="list-group-item">Has Wifi: {% if cafe.has_wifi %} ✅ {% else %} ⛔️ {% endif %}</li>
                  <li class="list-group-item">Can take calls: {% if cafe.can_take_calls %} ✅ {% else %} ⛔️ {% endif %}</li>

              </ul>
            </div>

        </div>




{% endblock %}