{% extends 'base.html' %}

{% block context%}
<div class="container">
    <div class="row">

     {% for i in cafes %}
          <div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-4 mt-3">

            <div class="card  w-100">
                <img class="card-img" style="width: 100%;height: 10vw; object-fit: cover;" src="{{i.img_url}}" alt="restaurant_photo">
              <div class="card-body">
                <h5 class="card-title">{{i.name}}</h5>
                  <p class="text-secondary">Location: {{i.location}}</p>
                <a class="text-decoration-none " target="_blank" href="{{i.map_url}}">Show on google maps</a>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Has sockets: {% if i.has_sockets %} ✅ {% else %} ⛔️ {% endif %}</li>
                  <li class="list-group-item">Has toilet: {% if i.has_toilet %} ✅ {% else %} ⛔️ {% endif %}</li>
                  <li class="list-group-item">Has Wifi: {% if i.has_wifi %} ✅ {% else %} ⛔️ {% endif %}</li>
                  <li class="list-group-item">Can take calls: {% if i.can_take_calls %} ✅ {% else %} ⛔️ {% endif %}</li>

              </ul>
              <div class="card-body">
                <a href="{{url_for('cafe_info', cafe_id=i.id)}}" class="card-link text-md-center text-decoration-none">Cafe info</a>
              </div>
            </div>

        </div>
    {%endfor%}

    </div>
</div>


{% endblock %}